$sec: #0b8f4d; // Deeper, tougher green
$light: #5fcf95; // Controlled contrast for CTAs
$black: #1f3a32; // Strong machinery-tone base
$white: #eef7f2; // Softened white for contrast
$gray: #5f6f6c; // Concrete-inspired gray
$back: linear-gradient(to right, #0b8f4d, #2fa56a, #5fcf95);
$border: 0.3rem solid #0b8f4d;

/*Common Elements*/

@font-face {
  font-family: font;
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: hfont;
  src: url("/fonts/Lilita_One/LilitaOne-Regular.ttf");
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

@mixin title-text($size) {
  font-size: $size;
  color: $black;
}

@mixin graph-text($size) {
  font-size: $size;
  color: $gray;
  line-height: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-family: font;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  background: $back;
  color: $white;

  &:hover {
    background: $black;
  }
}

.heading {
  font-size: 7rem;
  text-align: center;
  position: relative;
  padding: 7rem;
  color: $black;
  span {
    background: $back;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent; /* For IE */
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;

    @supports (-webkit-text-fill-color: transparent) and (background-clip: text) {
      font-size: 7rem;
    }
  }
}

.nocap {
  text-transform: none;
}

/*/Common Elements*/

/*Header Section*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    #icon {
      font-size: 3rem;
      padding-right: 1.5rem;
      color: $sec;
      margin: 0 auto;
    }
    .content {
      h3 {
        font-size: 3rem;
        color: $black;
      }
      p {
        font-size: 1.5rem;
        color: $gray;
      }
    }
  }

  .navbar {
    a {
      font-size: 1.5rem;
      color: $black;
      margin: 0 0.7rem;

      &:hover {
        color: $white;
        padding: 4rem 1rem;
        background: $back;
      }
    }
  }

  .fa-bars {
    font-size: 4rem;
    color: $black;
    cursor: pointer;
    display: none;
  }
}
/*/Header Section*/

/*Home Section*/
.home {
  padding: 4rem 0;
  background: $back;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .content {
    text-align: center;
    .title {
      font-size: 7rem;
      padding: 2rem 0;
      color: $white;
    }
    a {
      display: block;
      font-size: 3rem;
      padding: 2rem 0;
      color: $white;
      font-style: italic;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 100%;
}
/*/Home Section*/

/*Areas Section*/
.areas {
  text-align: center;
  .title {
    font-size: 5rem;
    padding: 2.5rem 0;
    color: $black;
  }

  .sub-title {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    color: $sec;
    font-weight: bolder;
  }
  .areas-intro {
    max-width: 70rem;
    margin: 0 auto 2rem;
    font-size: 1.6rem;
    text-align: center;
    color: $gray;
  }
  .box-con {
    @include grid(16rem);

    .box {
      background: $white;
      overflow: hidden;
      border-radius: 0.5rem;
      border: 0.1rem solid $black;

      img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
      }

      h3 {
        font-size: 1.7rem;
        color: $black;
        padding: 1rem 0;
      }
    }
  }
}
/*/Areas Section*/

/*About Us Section*/
.about {
  .box-con {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .image-con {
      flex: 1 1 42rem;

      img {
        border: $border;
        width: 100%;
        height: 35rem;
        object-fit: cover;
      }

      .controls {
        text-align: center;
        padding: 2rem 0;

        span {
          display: inline-block;
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
          background: $white;
          border: $border;
          cursor: pointer;
          margin: 0.7rem;

          &:hover {
            background: $sec;
          }
        }
      }
    }

    .content {
      flex: 1 1 42rem;
      margin-bottom: 5rem;

      span {
        color: $sec;
        font-size: 2rem;
      }

      h3 {
        @include title-text(3rem);
        margin-top: 0.5rem;
      }

      p {
        @include graph-text(1.5rem);
      }

      .btn {
        margin-top: 2rem;
      }
    }
  }
}

/*/About Us Section*/

/*Services Section*/
.services {
  .box-con {
    @include grid(30rem);

    .box {
      background: $white;
      border-radius: 1rem;
      padding: 3rem 2rem;
      text-align: center;
      border: $border;

      &:hover {
        border: $border;
      }

      #icon {
        color: $sec;
        font-size: 4rem;
        margin-bottom: 1rem;
      }

      h3 {
        @include title-text(2rem);
      }

      p {
        @include graph-text(1.4rem);
      }
    }
  }
}
/*/Services Section*/

/*Contact Us Section*/
.contact {
  .icons-con {
    @include grid(29rem);
    .icons {
      text-align: center;
      padding: 2rem;
      border: solid 0.2rem $sec;

      .icon {
        height: 6rem;
        width: 6rem;
        line-height: 7rem;
        background-color: $sec;
        border-radius: 50%;
        margin: 0 auto;

        #icon {
          font-size: 2.5rem;
          color: $white;
        }
      }

      h3 {
        font-size: 2rem;
        color: $black;
        padding: 1rem 0;
      }

      p {
        font-size: 1.5rem;
        color: $gray;
        line-height: 2;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;

    .map {
      height: 30rem;
      width: 100%;
    }
  }
}
/*/Contact Us Section*/

/*Footer Section*/
.footer {
  background-color: $black;
  position: relative;
}

.footer .back-to-top {
  display: inline-block;
  background: $white;
  color: $sec;
  padding: 2rem 2.5rem;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  border: 2px solid $sec;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  transition: background-color 0.3s ease, transform 0.3s ease;

  #icon {
    font-size: 2.5rem;
  }
}

.footer .back-to-top:hover {
  transform: translateY(-3px);
}

.footer .whatsapp {
  #icon {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: inline-block;
    background: transparent;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
}

.footer .whatsapp #icon:hover {
  transform: translateY(-3px);
}

.footer .box-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-con .box {
  flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-con .box .logo {
  font-size: 2.5rem;
  color: $sec;
}

.footer .box-con .box #icon {
  color: $sec;
}

.footer .box-con .box p {
  font-size: 1.7rem;
  color: $white;
  padding: 1rem 0;
}

.footer .box-con .box h3 {
  font-size: 2.5rem;
  color: $sec;
}

.footer .box-con .box:nth-child(2) {
  text-align: center;
}

.footer .box-con .box:nth-child(2) a {
  display: block;
  font-size: 2rem;
  padding: 0.4rem 0;
  color: $white;
}

.footer .box-con .box:nth-child(2) a:hover {
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  padding: 1.4rem 0;
  border-top: solid 0.2rem $white;
  color: $white;
  font-size: 2rem;
}

.footer .credit span {
  color: $sec;
  font-weight: bold;
  font-size: 2.1rem;
}
/*/Footer Section*/

/*Media Queries*/
@media (max-width: 768px) {
  html {
    font-size: 52.5%;
  }
  .heading {
    font-size: 4.5rem;
  }

  .header {
    .navbar {
      border-top: solid 0.15rem $black;
      position: absolute;
      top: 10.8rem;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      background: $white;

      a {
        width: 100%;
        height: 7rem;
        line-height: 7rem;
        margin: 0;
        padding: 0 1rem;
        &:hover {
          color: $white;
          background-color: $back;
          padding: 0 2rem;
          border: solid 0.1rem $gray;
        }
      }
    }
    .fa-bars {
      display: block;
    }
  }
  .about {
    .slide {
      &.one,
      &.two,
      &.three {
        flex-flow: column;
      }
      .image {
        width: 100%;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*/Media Queries*/

/*/Test*/
